<html>
<body>
  <div>
    Welcome <%=Name %> Let's make this world better.
    <a href="http://localhost:1337/verify?ver=<%=verify_code %>&tuid=<%=tuid %>" target="_blank">
      click here to verify email</a>
  </div>
</body>
</html>
